:root {
  --base-font-size: 1rem;
  --base-color: #454545;
  --font-family: "Quicksand";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1% 0;
  background: linear-gradient(to bottom, rgb(77, 157, 237), rgb(162, 218, 246));
  position: relative;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--base-color);
  transition: all 0.3s ease;
  /* overflow: hidden; */
}

.container {
  margin: auto;
}

.content {
  background-color: beige;
  padding: 5%;
  height: 24vh;
  width: 46vh;
  overflow-y: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--base-color);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4px;
} */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

header img {
  height: 10rem;
  width: 10rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

h1 {
  font-size: 2rem;
  animation: fade-in 1s ease-in-out;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
}

p {
  font-size: 1rem;
  text-align: left;
}

.button {
  background: none;
  margin: 0px 3px -2px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--base-color);
  color: var(--base-color);
  font-size: 1em;
  font-weight: bold;
  width: 80px;
}

.view-buttons {
  display: flex;
  justify-content: center;
}

.active {
  background-color: beige;
}

.project-section {
  display: inline-flex;
  justify-content: center;
}

.project {
  margin: 6px;
  width: 320px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  color: var(--base-color);
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.project:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.project:active {
  transform: translateY(2px);
}

@media only screen and (max-height: 700px) {
  .content {
    padding: 10px;
    height: 14vh;
    width: 126vh;
    /* min-width: 550px; */
  }

  .project {
    margin: 4px;
    display: inline-flex;
    height: 40px;
    width: 170px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-height: 590px) {
  p {
    font-size: 0.8rem;
    text-align: left;
  }

  .content {
    padding: 10px;
    height: 14vh;
    width: 106vh;
  }

  .project {
    margin: 2px;
    display: inline-flex;
    height: 30px;
    width: 120px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-height: 450px) {
  p {
    font-size: 0.7rem;
    text-align: left;
  }

  .content {
    padding: 10px;
    height: 14vh;
    width: 106vh;
  }

  .project {
    margin: 2px;
    display: inline-flex;
    height: 30px;
    width: 120px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
  .content {
    padding: 3px 18px;
    height: 200px;
    width: 38vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    text-align: center;
  }

  .project-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
  }

  .project {
    width: 250px;
    margin: 6px;
    height: 30px;
  }

  p {
    font-size: 0.8rem;
  }

  .button {
    font-size: 1rem;
    padding: 5px auto 5px auto;
    display: flex;
    justify-content: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
