:root {
  --base-font-size: 1rem;
  --base-color: #454545;
  --font-family: "Quicksand";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1% 0;
  background: linear-gradient(
    to bottom,
    rgb(142, 196, 249),
    rgb(162, 218, 246)
  );
  position: relative;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--base-color);
  transition: all 0.3s ease;
  overflow: hidden;
}

.container {
  padding: 20px;
  width: 80%; /* Adjust this percentage as needed */
  max-width: 1200px; /* This will prevent the container from becoming too wide on large screens */
  margin: auto;
}

.content {
  background-color: beige;
  height: 30vh;
  overflow-y: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--base-color);
  padding: 2%;
  z-index: 0;
  position: relative;
}

.content > div {
  position: absolute; /* Add this */
  width: 100%; /* Add this */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

header img {
  height: 10rem;
  width: 10rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

p {
  font-size: 1rem;
}

.button {
  background: none;
  margin-bottom: -2px;
  margin-left: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--base-color);
  color: var(--base-color);
}

.active {
  background-color: beige;
}

.project-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 2px;
  padding: 8px;
  display: inline;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .content {
    padding: 2%;
  }

  .project {
    margin: 2px;
    padding: 8px;
    display: block;
    max-width: fit-content;
  }

  p {
    font-size: 0.8rem; /* Adjust this value as needed to get the desired font size */
  }

  body,
  .container {
    overflow-x: hidden; /* This will prevent horizontal scrolling */
    overflow-y: hidden; /* This will prevent vertical scrolling */
  }

  button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

.word-guessr {
  background: linear-gradient(rgb(142, 249, 213), rgb(30, 77, 100));
  color: aliceblue;
}

.advisor-ai {
  background: linear-gradient(rgb(142, 249, 249), rgb(95, 84, 175));
  color: aliceblue;
}

.braindose {
  background: linear-gradient(rgb(249, 142, 244), rgb(84, 146, 200));
  color: aliceblue;
}

h1 {
  font-size: 2rem;
  animation: fade-in 1s ease-in-out;
  transition: transform 0.5s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
