:root {
  --base-font-size: 1rem;
  --base-color: #454545;
  --font-family: "Quicksand";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1% 0;
  background: linear-gradient(
    to bottom,
    rgb(142, 196, 249),
    rgb(162, 218, 246)
  );
  position: relative;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--base-color);
  transition: all 0.3s ease;
  overflow: hidden;
}

.container {
  width: 80%;
  max-width: 1200px;
  padding: 0 1rem;
}

.content {
  background-color: beige;
  min-height: 22vh;
  overflow-y: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--base-color);
  padding: 2%;
  z-index: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

header img {
  height: 10rem;
  width: 10rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

p {
  font-size: 1rem;
}

.button {
  background: none;
  margin-bottom: -2px;
  margin-left: 6px;
  border-style: solid;
  border-width: 2px;
  /* border-radius: 2px; */
  border-color: var(--base-color);
  color: var(--base-color);
}

.active {
  background-color: beige;
  border-bottom: none;
  z-index: 1;
}

.project-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  background-color: aliceblue;
  margin: 2px;
  padding: 8px;
  border-radius: 4px;
  display: inline;
}

/* Responsive layout */
@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .button {
    margin-bottom: -4px;
  }
}

.word-guessr {
  background: linear-gradient(rgb(142, 249, 213), rgb(30, 77, 100));
  color: aliceblue;
}

.advisor-ai {
  background: linear-gradient(rgb(142, 249, 249), rgb(95, 84, 175));
  color: aliceblue;
}

.braindose {
  background: linear-gradient(rgb(249, 142, 244), rgb(84, 146, 200));
  color: aliceblue;
}

h1 {
  font-size: 2rem;
  animation: fade-in 1s ease-in-out;
  transition: transform 0.5s ease;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
