:root {
  --base-font-size: 1rem;
  --base-color: #454545;
  --font-family: "Quicksand";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1% 0;
  background: linear-gradient(to bottom, rgb(77, 157, 237), rgb(162, 218, 246));
  position: relative;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--base-color);
  transition: all 0.3s ease;
  overflow: hidden;
}

.container {
  padding: 10px;
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.content {
  background-color: beige;
  padding: 20px;
  height: 10vh;
  overflow-y: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--base-color);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

header img {
  height: 10rem;
  width: 10rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

h1 {
  font-size: 2rem;
  animation: fade-in 1s ease-in-out;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
}

.bio-section {
  padding: 5px;
}

p {
  font-size: 1rem;
  text-align: left;
}

.button {
  background: none;
  margin: 0px 3px -2px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--base-color);
  color: var(--base-color);
  font-size: 1em;
  font-weight: bold;
  width: 80px;
}

.view-buttons {
  display: flex;
  justify-content: center;
}

.active {
  background-color: beige;
}

.project-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  margin: 2px;
  width: 150px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  color: var(--base-color);
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.project:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.project:active {
  transform: translateY(2px);
}

.contact-section,
p {
  margin: 4px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .content {
    padding: 10px;
    height: 120px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    flex-direction: column;
    width: 100%;
  }

  .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .content {
    padding: 2%;
    padding: 10px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-section {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project {
    margin: 2px;
    padding: 8px;
    display: inline-block;
    max-width: max-content;
    height: 40px;
  }

  p {
    font-size: 0.8rem;
  }

  body,
  .container {
    overflow-x: hidden;
  }

  .button {
    font-size: 1rem;
    padding: 5px auto 5px auto;
    display: flex;
    justify-content: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
