:root {
  --base-font-size: 1rem;
  --base-color: #454545;
  --font-family: "Quicksand";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 5px;
  background: linear-gradient(to bottom, rgb(39, 97, 156), rgb(151, 247, 239));
  position: relative;
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--base-color);
  transition: all 0.3s ease;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: beige;
  padding: 5%;
  height: 150px;
  width: 370px;
  overflow: hidden;
  border-width: 2px;
  border-style: solid;
  border-color: var(--base-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
}

header img {
  height: 10rem;
  width: 10rem;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

h1 {
  font-size: 2rem;
  animation: fade-in 1s ease-in-out;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
}

p {
  font-size: 1rem;
  text-align: left;
}

.button {
  background: none;
  margin: 0px 3px -2px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--base-color);
  color: var(--base-color);
  font-size: 1em;
  font-weight: bold;
  width: 80px;
  cursor: pointer;
}

.view-buttons {
  display: flex;
  justify-content: center;
}

.active {
  background-color: beige;
}

.project-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  flex-wrap: wrap;
  margin: 2px;
}

.project {
  position: relative;
  margin: 2px;
  width: 375px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease;
  color: var(--base-color);
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.project:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.project:active {
  transform: translateY(2px);
}

@media only screen and (max-width: 375px) and (max-height: 812px) {
  .content-section {
    align-items: center;
  }
  
  .content {
    padding: 3px 18px;
    height: 220px;
    width: 38vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    text-align: center;
  }

  .project-section {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    height: 200px;
    flex-wrap: wrap;
  }

  .project {
    margin: 6px;
  }

  p {
    font-size: 1rem;
  }

  .button {
    font-size: 1rem;
    padding: 5px auto 5px auto;
    display: flex;
    justify-content: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
